{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div style="padding-top: 100px;" class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="customContainer">


                <div class="section">

                    <div>
                        <img style="border-radius: 4rem;"  class="imgPosition" src="/img/dad.png">
                    </div>
                    <div>
                        <img style="border-radius: 4rem;"  class="imgPosition" src="/img/girl.png">
                    </div>
                    <div>
                        <img style="border-radius: 4rem;"  class="imgPosition" src="/img/punk.png">
                    </div>
                </div>

                <div  class="section customSection">
                    <form method="post">
                    <div></div>
                    <div>
                        <div>
                            <h2 class="mb-5" style="font-size: 40px; color:rgba(182, 160, 248, 1)">
                                Удалить пользователя
                            </h2>
                        </div>
                        <div class="mb-4">
                            <label for="text" class="form-label ">Введите id пользователя</label>
                            <input name="id" class="form-control customForm"  placeholder="1" required>
                        </div>

                        <div class="d-grid">
                            <button id="loginButton" class="btn btn-outline-info" type="submit" name="submit">Удалить</button>
                        </div>
                    </div>
                    </form>


                </div>



                <div class="section">
                    <div>
                        <img style="border-radius: 4rem;"  class="imgPosition" src="/img/girl.png">
                    </div>
                    <div>
                        <img style="border-radius: 4rem;"  class="imgPosition" src="/img/punk.png">
                    </div>
                    <div>
                        <img style="border-radius: 4rem;"  class="imgPosition" src="/img/dad.png">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

    <a href="{{ path('app_user_user_index') }}">back to list</a>

{% endblock %}