{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <div style="padding-top: 100px;" class="vh-100 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="customContainer">

            <div class="section">
              <div>
                <img class="imgPosition" src="/img/dad.png">                
              </div>
              <div>
                <img class="imgPosition" src="/img/girl.png">                
              </div>
              <div>
                <img class="imgPosition" src="/img/punk.png">                
              </div>          
            </div>

            <div  class="section">
              <form method="post">
                <div>
                  <h2 class="mb-5" style="font-size: 40px; color:rgba(182, 160, 248, 1)">
                    Создание пользователя
                  </h2>
                </div>
                <div class="mb-4">
                  <label for="text" class="form-label ">Введите имя пользователя</label>
                  <input name="username" type="login" class="form-control customForm"  placeholder="JoshMoore" required>
                </div>

                <div class="mb-4">
                  <label for="login" class="form-label ">Введите пароль</label>
                  <input name="password" type="login" class="form-control customForm" placeholder="JoshMoorePass" required>
                </div>

                <div class="mb-4">
                  <label for="login" class="form-label ">Введите роли для пользователя (пример: ROLE_USER)</label>
                  <input name="roles" type="login" class="form-control customForm" placeholder="ROLE_USER" required>
                </div>

                <div class="d-grid">
                  <button id="loginButton" class="btn btn-outline-info" type="submit" name="submit">Создать</button>
                </div>
              </form>
            </div>



            <div class="section">
              <div>
                <img class="imgPosition" src="/img/girl.png">                
              </div>
              <div>
                <img class="imgPosition" src="/img/punk.png">                
              </div>
              <div>
                <img class="imgPosition" src="/img/dad.png">                
              </div>          
            </div>


          </div>

      </div> 
  </div>
</div>
    <a href="{{ path('app_user_user_index') }}">back to list</a>
{% endblock %}
