*{
    margin: 0;
    padding: 0;
}



.header{
    background-color: white;
    position: fixed;
    right: 0px;
    left: 0px;
    height: 100px;   
}

.navbar-style{
    box-shadow: 0 3px 10px rgba(182, 160, 248, 1);
    /* background-color: aqua; */
}
.logo {
    height: 60px;
    padding: 2px 10px;
}
 #headtextStyle{
    /* color:#8ba0c2; */
    color:black;
    font-size: 20px;
    padding-left: 50px;
    
}

#headtextStyle:hover{
    /* color:#81d0e3; */
    color: rgb(33, 195, 213);

}
#clickdropText{
    color:#8ba0c2;

}
#clickdropText:active{
    background: rgba(182, 160, 248, 1);
    color: white;

}
#clickDATA:active{
    background: #81d0e3;
    color: white;
}


.dropdown:hover .dropdown-menu{
    display: block;
}

.imgPosition{
    width: 110px;
    margin-top: 25px;
    margin-bottom: 80px;
    border-radius: 3rem;
}
.imgPosition:hover{
    box-shadow: 0 3px 10px rgb(33, 195, 213);
    
}



.customContainer{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}

.customSection{
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.customForm{
    height: 60px;
}


.section{

    border-color: #81d0e3;
    color: black;
    font-size: 24px;
    margin: 70px;
     
}

#loginButton{
    height: 50px;
    font-size: 20px;
}

#loginButton:hover{
    color:white;
    
}

/* #loginButton{
    border-color: ;
    height: 50px;
    font-size: 20px;
}

#loginButton:hover{
    color:white;
    border-color: plum;
    background-color: plum;
}
#loginButton:active{
    color:white;
    border-color: plum;
    background-color: plum;
    
} */