{% extends 'base.html.twig' %}

{% block title %}Statistic{% endblock %}
   
{% block stylesheets %}
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<link href="css/statistic.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div style="padding-top: 200px;" id="content-wrapper" class="d-flex flex-column">
<div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"></h1>
                    </div>

                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Всего пользователей</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{usersAmount}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Последний вход</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{lastAccessAttempt}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                                              <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                id последнего пользователя который входил </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{lastUser}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Ошибки доступа</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{accessFailures}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                  <div class="container col-xl-4 col-md-8 mb-4">
                    <div>
                      <div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary">Топ 3 пользователя</h6>
                        </div>
                        <div class="card-body">
                            <canvas id="myChart" class = "mychart"width="10" height="10"></canvas>
                        </div>
                      </div>
                    </div>
                </div>
                  

 </div> 

 </div> 

 
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [
          'Semen',
          'Andrew',
          'Tanya'
  ],
  datasets: [{
    label: 'My First Dataset',
    data: [5, 3, 3],
    backgroundColor: [
      'rgb(182, 160, 248)',
      'rgb(241, 242, 243)',
      'rgb(160, 239, 248)'
    ],
    hoverOffset: 4
  }]
    },

});
</script>


<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    data: data,
    options: {
      scales: {
          y: {
              beginAtZero: true
            }
        }
    }
  );
</script>

{% endblock %}